DATABASE_URL="postgresql://neondb_owner:npg_gTMlpB0EKZx4@ep-lucky-glitter-ag0ay94m-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
TELEGRAM_BOT_TOKEN="8068455482:AAGIhuHK_sI97vqyBL61xHAObfPTSCEaw5g"
TELEGRAM_BOT_NAME="truecrimetg_bot"
NEXT_PUBLIC_ALLOW_DEV_NO_TELEGRAM="true"
